.main-content1 {
    max-width: 1200px;
    height: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin-left: 130px;
    margin-top: 40px;
}


.adCard {
    flex: 1;
    display: flex;

    font-family: 'Plus Jakarta Sans', -apple-system, Roboto, Helvetica, sans-serif;
    color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    width: 626px;
    height: 308px;
}


.adImage {
    width: auto;

    height: 100px;

    object-fit: cover;

    position: absolute;
    margin-top: 180px;
    margin-left: 220px;

}


.adContent {
    padding: 20px;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


.adTitle {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 5px;
}

.adTitle1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    margin-top: -10px;
}


.adDescription {
    font-size: 16px;
    line-height: 1.5;
    margin-top: -10px;
    flex-grow: 1;
}

.adDescription1 {
    font-size: 16px;
    line-height: 1.5;
    margin-top: -140px;
    flex-grow: 1;
}


.adButton {
    align-self: flex-start;
    padding: 10px 20px;
    margin-top: 150px;
    position: absolute;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: opacity 0.3s ease;

}

.adButton:hover {
    opacity: 0.9;
}

@media only screen and (max-width: 576px) {
    .main-content1 {
        flex-direction: column;
        width: 350px;
        gap: 20px;
        height: 292px;
    }

    .adCard {
        width: 350px;
        height: 202px;
        left: 35px;
        top: 172px;
        margin-left: -130px;
    }

    .adTitle ,.adTitle1{
        width: 240px;
        height: 20px;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 600 !important;
        font-size: 16px !important;
        line-height: 150%;
        display: flex;
        align-items: center;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }

    .adTitle1{
        position: absolute;
        margin-top: 5px;
        margin-left: 125px;
    }

    .adDescription p {
        margin: 0;
        padding: 0;
        line-height: 0.5;
    }

    .adDescription1 {
        margin: 0;
        padding: 0;
        line-height: 0.5;
        margin-top: -180px;
    }


    .adButton {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 20px;
        gap: 8px;
        width: 128px;
        height: 44px;
        right: 253px;
        top: 232px;
    }

    .adImage {
        top: 260px;
        right: 70px;
    }


    .adCard:nth-child(2) {
        display: none;
    }
}