.footer {
    background-color: #fff;

    width: 1440px;
    height: 300px;
    left: 0px;
    
}

.footer-top {
    display: flex;
    position: absolute;
    justify-content: space-between;

    padding-bottom: 20px;
    margin-bottom: -300px;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 292px;
    height: 108px;
    left: 160px;
    top: 50px;
}

.footer-logo h2 {

    width: 148px;
    height: 44px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    color: #3563E9;
}

.footer-logo p {
    color: #555;
    font-size: 0.9rem;
}

.footer-links {
    display: flex;
    position: absolute;
    left: 1040px;
    top: 50px;
    gap: 40px;
}

.footer-links h4 {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    color: #555;
    font-size: 0.9rem;
    margin-bottom: 5px;
    cursor: pointer;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;

    color: rgba(19, 19, 19, 0.6);

    mix-blend-mode: normal;
}

.footer-links li:hover {
    color: #007bff;
}

.footer-bottom {
    display: flex;
    position: absolute;
    width: 292px;
    height: 24px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;

    color: #1A202C;

    mix-blend-mode: normal;

    margin-top: 300px;
  
    left: 150px;
}

.footer-bottom p {
    color: #555;
    font-size: 0.9rem;
}

.footer-policy {
    display: flex;
    gap: 9px;
    position: absolute;
    left: 890px;
    white-space: nowrap;
}

.footer-policy span {
    color: #000000;
    font-size: 0.9rem;
    width: 144px;
    height: 24px;
    cursor: pointer;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: -0.02em;
    color: #1A202C;

    mix-blend-mode: normal;
}

.footer-policy span:hover {
    color: #007bff;

}

@media only screen and (max-width: 576px) {
    .footer {
        display: flex;
    
        margin-top: 300px;
        height: 400px;
    }

    .footer-logo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        position: absolute;
        width: 216px;
        height: 92px;
        left: 24px;
        margin-top: -80px;
    }

    .footer-logo p{
        margin-top: -30px;
    }

    .footer-links {
        display: flex;
        justify-content: space-between;
        margin-left: -1015px;
        margin-top: 50px;
      }
    
      .footer-links div {
        margin-bottom: 20px;
      }
    
      .footer-links ul.social {
        margin-top: 10px;
        margin-left: 0;
      }
  
      .footer-links div:last-child {
        margin-top: 160px;
        margin-left: -275px;
      }
    
      .footer-bottom {
        margin-top: 520px;
      }

      .footer-policy{
        position: absolute;
        margin-left: -1015px;
        margin-top: -150px;
      }

      .footer-bottom p{
        margin-left: -80px;
      }
}