.view-all-btn{
    position: absolute;
    margin-left: 1380px;
    margin-top: -20px;
    
}

.popular-cars1 h2{
    text-align: left;
    width: 200px;
    margin-left: 40px;
}

.popular-cars2 h2{
    width: 300px;
    text-align: left;
    margin-top: 20px;
    margin-left: 40px;
}


@media only screen and (max-width: 576px) {
    .popular-cars1{
        margin-left: 90px;
    }

    .popular-cars1 .car-card{
        max-width: 400px;
        width: 100%;

    }

    .popular-cars2{
        margin-left: 90px;
    }

    .popular-cars2 .car-card{
        max-width: 400px;
        width: 100%;

    }

}